# Ignorar Git y archivos de sistema
.git
.gitignore

# Ignorar carpetas de compilación y temporales
.gradle/
build/
bin/
target/
.idea/

# Ignorar todos los .jar EXCEPTO el del wrapper de Gradle
*.jar
!gradle/wrapper/gradle-wrapper.jar